@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";
@import url('https://fonts.googleapis.com/css?family=Playfair+Display|Roboto');
body {
  font-family: 'Roboto', sans-serif;
}

.bg-header {
  position: relative;
  height: 250px;
  background-image: linear-gradient(#e1ffb1, #aed581);
  clip-path: polygon(
    0 0,
    100% 0,
    100% 100%,
    0 calc(100% - 3vw)
  );
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12) !important;
}

.profile-header {
  position: relative;
  height: 50vh;
}

.hover-shadow:hover {
  border-radius: 16px !important;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12) !important;
}

.slick-arrow {
  color: #656565 !important;
}

.white-text {
  color: #ffffff !important;
}

.subtitle {
  font-size: 1.2rem;
  font-weight: 100;
}

.display-subtitle {
  font-size: 2.2rem;
  font-weight: 100;
}
.display-title {
  font-size: 4.6rem;
  font-weight: 300;
  font-family: 'Playfair Display', serif;
}

.display-5 {
  font-weight: 300;
  font-size: 3.4rem;
  font-family: 'Playfair Display', serif;
}

.display-4 {
  font-weight: 300;
  font-size: 2.4rem;
  font-family: 'Playfair Display', serif;
}

.display-3 {
  font-weight: 300;
  font-size: 2.2rem;
  font-family: 'Playfair Display', serif;
}

.display-2 {
  font-weight: 300;
  font-size: 2rem;
  font-family: 'Playfair Display', serif;
}

.display-1 {
  font-weight: 300;
  font-size: 1.8rem;
  font-family: 'Playfair Display', serif;
}

article > p {
  font-size: 1.35rem;
  font-weight: 400;
  color: #333;
  margin: 24px 0px;
}

article > h1, h2, h3, h4, h5, h6 {
  font-family: 'Playfair Display', serif;
}

.sharing-article-section {
  margin: 24px;
}

.related-article-section {
  margin: 24px;
}

.date {
  font-weight: 300;
  color: #656565;
}

a {
  color: #7da453 !important;
}

.menu > a {
  color: #313131 !important;
}

footer {
  margin-top: 48px;
  padding-top: 24px;
  background-image: linear-gradient(#aed581, #7da453);
  
}

.footer-list{
  padding: 0px;
}

.footer-list > li {
  line-height: 2em;
  list-style-type: none;
}

.footer-list > li > a {
  color: #313131 !important;
  text-decoration: none;
}

.fill-height {
  margin-top: 12.5vh;
  margin-bottom: 26.5vh;
}

.primary {
  background-color: #aed581 !important;
}

.content-container {
  padding: 2vh;
}